<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salvo - Game</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Pirata+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>
    <div id="app">
        <header>
            <img src="styles/img/flag.png" alt="" class="logo">
            <h1>Pirate Battleship!</h1>
        </header>
        <div class="players_panel">
            <div class="players">
                <p class="inline" id="currentPlayer">{{currentPlayer.email}} <span class="red">(you)</span></p>
                <p class="inline">Vs.</p>
                <p class="inline" id="opponent">{{opponent.email}}</p>
            </div>
            <div class="nav_buttons">
                <form onsubmit="return false">
                    <button type="button"><a href="games.html">Go Back</a></button>
                    <button type="submit" v-on:click="logOut()">Log Out</button>
                </form>
            </div>
        </div>
        <main>
            <div class="grids_container">
                <table class="grid">
                    <thead>
                        <tr>
                            <th class="no_background parchment pirate" colspan="11">Your Ships</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="cells no_background"></th>
                            <th v-for="column in columns" class="cells position">{{column}}</th>
                        </tr>
                        <tr v-for="row in rows">
                            <th class="cells position">{{row}}</th>
                            <td class="cells" v-for="cell in 10" :id="row + cell"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="grid">
                    <thead>
                        <tr>
                            <th class="no_background parchment pirate" colspan="11">Your Shots</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="cells no_background"></th>
                            <th v-for="column in columns" class="cells position">{{column}}</th>
                        </tr>
                        <tr v-for="row in rows">
                            <th class="cells position">{{row}}</th>
                            <td class="cells" v-for="cell in 10" :id="'s' + row + cell"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <main>
            <div class="placingShips">
                <div class="ships_container" @drop="drop" @dragover="allowDrop">
                    <div id="aircraft_carrier" class="fullShip" draggable="true" @dragstart="drag">
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                    </div>
                    <div id="battleship" draggable="true" @dragstart="drag">
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                    </div>
                    <div id="submarine" draggable="true" @dragstart="drag">
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                    </div>
                    <div id="destroyer" draggable="true" @dragstart="drag">
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                    </div>
                    <div id="patrol_boat" draggable="true" @dragstart="drag">
                        <div class="divShip"></div>
                        <div class="divShip"></div>
                    </div>
                </div>
                <table class="grid">
                    <tbody>
                        <tr>
                            <th class="cells no_background"></th>
                            <th v-for="column in columns" class="position cells">{{column}}</th>
                        </tr>
                        <tr v-for="row in rows">
                            <th class="cells position">{{row}}</th>
                            <td class="cells" v-for="cell in 10" :id="row + cell" @drop="drop" @dragover="allowDrop"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/game.js"></script>
</body>

</html>