body {
    font-family: 'Patrick Hand SC', cursive;
    background-image: url("img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    color: black;
    text-shadow: 0 0 1px rgba(252, 231, 164, 0.75);;
}

/* HEADER */
header {
margin-top: 50px;
}

h1 {
    font-family: 'Pirata One', cursive;
    margin: 25px;
    font-size: 50px;
    text-shadow: 0 0 10px burlywood;
    padding-top: 70px;
    text-align: center;
}

.logo {
    position: absolute;
    left: 30%;
    top: 5%;
    z-index: -1;
    transform: rotate(-20deg);
}


/* ----- games.html ----- */
/* AUTHENTICATION */
label {
    display: block;
    margin: 3px;
}

input {
    background-color: rgba(1, 1, 1, 0.25);
    border: none;
    width: 100%;
}

button {
    font-family: 'Pirata One', cursive;
    font-size: 20px;
    background: none;
    border: none;   
    margin: 7px;
}

button:hover {
    color: rgba(227, 129, 58, 1);
}

.authentication {
    height: 120px;
    background-image: url("img/title_background.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

/* when user is logged out */
.loggedout_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.auth_fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.auth_buttons {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 10px;
margin-left: 20px;
}

/* when user is logged in */
.loggedin_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}


/* ----- game.html ----- */
/*PLAYERS*/
form {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(227, 129, 58, 1);
}

#currentPlayer {
    color: darkred;
}

.players_panel {
    height: 100px;
    background-image: url("img/title_background.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.players {
    margin-top: 10px;
}

.nav_buttons {
    margin-top: 5px;
}

.inline {
    display: inline;
}


/* ----- both files ----- */
/* GRIDS */
table {
    margin: 40px;
    width: 93%;
    display: inline-block;
}

th,
td {
    background-color: rgba(252, 231, 164, 0.5);
    text-align: center;
    padding: 0px;
    width: 200px;
    height: 50px;
}

.grids_container, {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid {
    width: auto;
}

.cells {
    width: 45px;
    height: 45px;
}

.position {
    background-color: rgba(252, 231, 164, 0.7);
}

.no_background {
    background-color: rgba(1, 1, 1, 0);
}

.parchment,
.game_buttons {
    background-image: url(img/title_background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game_buttons {
    width: 200px;
    height: 50px;
}

/*placing ships*/
.placingShips, {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divShip {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: black;
}

.fullShip {
    border: solid black thin;
}

/* showing ships, salvoes and hits */
.ship {
    background-color: black;
}

.salvo {
    background-image: radial-gradient(red, darkred);
}

.hit {
    background-image: radial-gradient(red, darkred, black);
}


/* TEXT CLASSES */
p {
    margin: 10px;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.pirate {
    font-family: 'Pirata One', cursive;
    font-size: 20px;
}